anyio==3.7.0
arrow==1.2.3
certifi==2023.5.7
charset-normalizer==3.1.0
exceptiongroup==1.1.1
fire>=0.6.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.2
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
loguru==0.7.0
numpy
PyJWT==2.7.0
python-dateutil==2.8.2
-e git+https://github.com/hldh214/python-engineio-3-for-lokbot@f80ff666dc5dc21a8911108132ca75aaa239127b#egg=python_engineio
python-socketio==4.6.1
ratelimit==2.2.1
requests==2.31.0
schedule==1.2.0
six==1.16.0
sniffio==1.3.0
tenacity==8.2.2
termcolor>=3.0.0
urllib3==2.0.2
websocket-client==1.5.2
